<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>MneuTableViewSample.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>E6765CA81D8FA46D007B8545</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E6765CBC1D8FA46E007B8545</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E6765CC71D8FA46E007B8545</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
